<div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()" action="#" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field" [class.input-field-error]="loginForm.get('username').invalid && (loginForm.get('username').touched )">
            <i class="fas fa-user"></i>
            <input type="text" formControlName="username" placeholder="Username or email" />
          </div>
          <marquee direction="down" behavior="slide" loop="1" class="error" scrolldelay="1" *ngIf="loginForm.get('username').invalid && (loginForm.get('username').touched )">
            <small *ngIf="loginForm.get('username').errors.required">Username is required</small>
            <!-- <div *ngIf="loginForm.get('username').errors.minlength">Username Is Not Valid</div> -->
          </marquee>
          <div style="margin-top: 15px;" class="input-field" [class.input-field-error]="loginForm.get('password').invalid && (loginForm.get('password').touched )">
            <i class="fas fa-lock"></i>
            <input type="password" formControlName="password" placeholder="Password" />
          </div>
          <marquee direction="down" behavior="slide" loop="1" class="error" scrolldelay="1" *ngIf="loginForm.get('password').invalid && (loginForm.get('password').touched )">
            <small *ngIf="loginForm.get('password').errors.required">Password is required</small>
            <!-- <div *ngIf="loginForm.get('password').errors.minlength">Password Is Not Valid</div> -->
          </marquee>
          <input style="margin-top: 20px;" type="submit" value="Login" class="btn solid" />
        </form>


        <form [formGroup]="signupForm" (ngSubmit)="signUpUser()" action="#" class="sign-up-form">
          <h2 class="title">Sign up</h2>

          <div class="input-field select-type">
            <label for="">I am</label>
            <select name="type" id="type">
              <option value="student" selected>Student</option>
              <option value="teacher">Teacher</option>
            </select>
          </div>

          <div class="input-field" [class.input-field-error]="signupForm.get('enrollment').invalid && (signupForm.get('enrollment').touched )">
            <i class="fas fa-fingerprint"></i>
            <input type="text" formControlName="enrollment" placeholder="Enrollment Number" required />
          </div>
          <marquee direction="down" behavior="slide"  class="error"  *ngIf="signupForm.get('enrollment').invalid && (signupForm.get('enrollment').touched )">
            <small *ngIf="signupForm.get('enrollment').errors.required">Enrollment Number is required</small>
            <small *ngIf="signupForm.get('enrollment').errors.pattern">Enter a valid Enrollment Number</small>
          </marquee>

          <div class="input-field" [class.input-field-error]="signupForm.get('username').invalid && (signupForm.get('username').touched )">
            <i class="fas fa-user"></i>
            <input type="text" formControlName="username" placeholder="Create Username" />
          </div>
          <marquee direction="down" behavior="slide" class="error"  *ngIf="signupForm.get('username').invalid && (signupForm.get('username').touched )">
            <small *ngIf="signupForm.get('username').errors.required">Username is required</small>
            <small *ngIf="signupForm.get('username').errors.pattern">Enter a valid username</small>
          </marquee>

          <div class="input-field" [class.input-field-error]="signupForm.get('password').invalid && (signupForm.get('password').touched )">
            <i class="fas fa-lock"></i>
            <input type="password" formControlName="password" placeholder="Create Password" />
          </div>
          <marquee direction="down" behavior="slide"  class="error" *ngIf="signupForm.get('password').invalid && (signupForm.get('password').touched )">
            <small *ngIf="signupForm.get('password').errors.required">Password is required</small>
            <small *ngIf="signupForm.get('password').errors.pattern">Enter a valid password</small>
          </marquee>

          <div class="input-field" [class.input-field-error]="signupForm.get('password1').invalid && (signupForm.get('password1').touched )">
            <i class="fas fa-lock"></i>
            <input type="password" formControlName="password1" placeholder="Confirm Password" />
          </div>
          <marquee direction="down" behavior="slide"  class="error" *ngIf="signupForm.get('password1').invalid && (signupForm.get('password1').touched )">
            <small *ngIf="signupForm.get('password1').errors.required">Password must be confirmed</small>
            <small *ngIf="signupForm.get('password').value != signupForm.get('password1').value">Password not matched</small>
          </marquee>

          <input type="submit" class="btn" value="proceed" />
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3><br>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>
        <img src="../../assets/undraw/securelogin.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us ?</h3><br>
          <button class="btn transparent" id="sign-in-btn">
            Sign in
          </button>
        </div>
        <img src="../../assets/undraw/register1.svg" class="image" alt="" />
      </div>
    </div>
  </div>
