<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>MENU</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="isTeacher" style="margin: 10px 0;">
        <div class="profile">
          <img src="../../assets/idphoto.jpg" alt="">
          <div>
            <h3>{{user_name}}</h3>
            <h4>Go to profile >></h4>
          </div>
        </div>
        <a mat-list-item href="#"><span></span>Take<br>Attendance</a>
        <a mat-list-item href="#"><span></span>Modify<br>Attendance</a>
        <a mat-list-item href="#"><span></span>Check<br>Attendance</a>
      </div>
      <div *ngIf="!isStudent">
        <div class="profile">
          <img src="../../assets/idphoto.jpg" alt="">
          <div>
            <h3>{{user_name}}</h3>
            <h4>Go to profile >></h4>
          </div>
        </div>
        <div class="attendance">
          <h3>You have</h3>
          <h1>{{attendance}}<span style="position: relative; background: none; font-size: 2rem; line-height: 0; margin-left: 10px; margin-bottom: 10px;">%</span></h1>
          <h3 style="position: relative; left: 50%; transform: translateX(-18%); font-size: 1.4em;">attendance</h3>
        </div>
        <a mat-list-item href="#"><span></span>Check Attendance</a>
      </div>
      <a mat-list-item href="#"><span></span>About Us!</a>
      <a mat-list-item href="#" class="logout"><i class="fas fa-sign-out" style="margin-right: 17px; margin-left: -34px;"></i>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span id="brand">AcuteVISION</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <img src="../../assets/logo.jpeg" height="89%" style="position: absolute; left: 50%; transform: translateX(-50%); z-index: -3;" width="inherit" alt="">
    <h1 class="greet">Hey, {{user_name.split(' ')[0]}}</h1>
    <h1 class="greet welcome">Welcomes you!!</h1>
  </mat-sidenav-content>
</mat-sidenav-container>
